<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VaultBank{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/style.css">
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% block content %}{% endblock %}

  <!-- Toast container global -->
  <div id="toast-container"></div>

  <!-- Core JS -->
  <script src="/static/js/api.js"></script>
  <script src="/static/js/main.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>